<%- include('header') %>
<div class="box-container">
<form action="/Linear" method="post">
    <label for="CorX"><p>X-Coordinate </p>
    <input type="text" name="CorX" id="CorX" placeholder="(in m)"  required></label>
    <label for="lineL"><p>Length of applied Load</p>
    <input type="text" name="lineL" id="lineL" placeholder="(in m)" required></label>
    <label for="CorZ"><p>Depth</p>
    <input type="text" name="CorZ" id="CorZ" placeholder="(in m)" required></label>
    <label for="loadI"><p>Load Intensity</p>
        <input type="text" name="loadI" id="loadI" placeholder="(in N/m)" required></label>
    <button type="submit">Calculate</button>
    <p style="font-size:13px ; padding : 5px">X- , Y-  and Depth are from Point of Loading</p>
</form>
</div>
<%- include('footer') %>